%p#demo

- if @latitude.present? && @longitude.present?
  #weather-info
    .alert.alert-success
      #{@address}.
      %br
      #{@date}.
      %br
      Temperature: #{@temperature} C.
      %br
      = show_advice(@temperature)
      %br
      = @description

.col-md-3
  #search-form
    = form_tag root_path, method: :get do |f|
      = label_tag 'Search'
      = text_field_tag :search, params[:search], class: 'form-control'
      - if current_user
        %br
        = label_tag 'Choose day'
        = select_tag :day, options_for_select((0...9).map {|d| [DateTime.now.to_date + d, d]}, params[:day])
      %br
      = submit_tag 'Search', class: 'btn btn-primary'
